body{
    font-family: Arial;
    text-align:center;
    margin-top:40px;
}

input{
    padding:10px;
    width:220px;
}

button{
    padding:10px 20px;
    margin:5px;
    cursor:pointer;
}

table{
    width:60%;
    margin:auto;
    border-collapse:collapse;
    margin-top:20px;
}

table,th,td{
    border:1px solid black;
}

th,td{
    padding:12px;
}